@using Quiz.ViewModels
@model RegisterViewModel

<div class="container row justify-content-center align-items-center text-cener  mt-5 mx-2 mt-xl-5 mt-xs-5" style="height: 70vh;">
    <form asp-action="Register" method="post" class="col-xl-3 col-md-6 text-center">
        <h2 class="text-center mb-5">Đăng ký</h2>
        <!-- Display general error messages -->
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <strong>Registration failed:</strong>
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
        <div class="form-group text-left">
            <label asp-for="Username">Tên đăng nhập</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group text-left">
            <label asp-for="Password">Mật Khẩu</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group text-left">
            <label asp-for="ConfirmPassword">Nhập lại mật khẩu</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">

            <button type="submit" class="btn btn-primary mr-auto form-control mb-3">Đăng ký</button>
            <a onclick="location.href='@Url.Action("Login", "User")'" class="h-50 mt-2">Đăng nhập</a>
        </div>

    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}