.explorePage {
    .explore {
        &.sidebar {
            @media (max-width: 767px) {
                width: calc(100% - 50px);
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                width: 30%;
            }

            background: transparent;
            width: 40vh;
            position: absolute;
            z-index: 10;
            left: -100%;
            transition: all 0.5s ease;

            &.active {
                left: 0;

                .barExpand {
                    left: -100%;
                }
            }
        }

        .barExpand {
            width: 50px;
            opacity: .9;
            left: 0;
            z-index: 11;
            transition: all 0.5s ease;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                height: 300px;
                width: 50px;
                border-radius: 0 30px 30px 0;
                background: $inactivecolor;
                z-index: -1;
                transform: translate(0, -50%);
            }

            .btn-sidebar {
                left: 60px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $maincolor;
                color: $white;
                left: 0;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                margin-left: 30px;
                border: 0;
                -webkit-transition: all 0.6s ease-in-out;
                -moz-transition: all 0.6s ease-in-out;
                -ms-transition: all 0.6s ease-in-out;
                -o-transition: all 0.6s ease-in-out;
                z-index: 11;
            }
        }

        .bar-inner {
            background-color: $inactivecolor;
            color: $white;
            width: 100%;
            opacity: .9;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            padding: 30px 0;
            text-align: center;
            border-radius: $border-radius-rtb;
            transition: all 0.5s ease;

            .btn-hidebar {
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -20px;
                margin-right: -20px;
                background: $maincolor;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            ul {
                position: relative;
                padding: 0;
                list-style: none;

                .map-item {
                    cursor: pointer;
                    line-height: 2.5em;

                    &.active, &:hover {
                        font-weight: bold;
                        color: $maincolor;
                    }

                    &:first-child {
                        padding-top: 15px;

                        &:after {
                            display: none;
                        }
                    }

                    &:not(:last-child) {
                        position: relative;
                    }

                    &:not(:last-child):after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 1px;
                        margin: 0 30px;
                        background: #626262;
                        z-index: -1;
                    }
                }
            }
        }
    }

    .gallery-modal {
        .owl-stage-outer {
            height: calc(100vh - 100px);
        }

        .item {
            .wrapImglocationGall {
                height: calc(100vh - 250px);

                img {
                    height: calc(100vh - 200px);
                    object-position: bottom;
                    margin-top: 5%;

                    @media (min-width: 1600px) {
                        object-fit: contain;
                    }

                    @media (max-width: 767px) {
                        object-fit: contain;
                    }
                }
            }

            .title {
                position: absolute;
                bottom: -110px;
                left: 5%;
                right: 5%;
                background: $green-100;
                padding: 10px 20px;
                border-radius: $border-radius-tlr30;

                h3 {
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 67px;
                        height: 15px;
                        background-image: url(../media/img/underline.svg);
                        background-repeat: repeat-x;
                        left: 38px;
                        bottom: -15px;
                        transform: translateX(-50%);
                        filter: brightness(0%);
                    }
                }
            }
        }

        .owl-nav {
            width: 100vw !important;
            position: absolute !important;
            bottom: 15px !important;
            left: -120px;

            @media (max-width: 767px) {
                bottom: 15px !important;
                left: 50%;
                margin-left: -40px;
                bottom: -15px !important;
            }

            .owl-prev,
            .owl-next {
                color: $gray-900;
                background: $white !important;
                margin-top: -20px;
                position: absolute;
                top: 0;
                text-align: center;
                opacity: 1;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
            }

            .owl-prev {
                left: 0;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -o-transition: 0.4s;
                -ms-transition: 0.4s;

                @media (max-width: 767px) {
                    left: -15px;
                }
            }

            .owl-next {
                left: 5%;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -o-transition: 0.4s;
                -ms-transition: 0.4s;

                @media (max-width: 767px) {
                    left: 15%;
                }
            }

            .owl-next:hover,
            .owl-prev:hover {
                background: $activecolor !important;
            }

            .owl-prev.disabled,
            .owl-next.disabled {
                pointer-events: none;
                opacity: 1;
            }
        }
    }


    .wrap-scaling circle:nth-of-type(1) {
        animation: scaling 1.6s linear infinite;
        animation-delay: 0.8s;
        fill: #fff;
        transform-origin: 50% 50%;
        transform-box: fill-box;
    }

    .wrap-scaling circle:nth-of-type(2) {
        animation: scaling 1.6s linear infinite;
        fill: transparent;
        opacity: 1;
        transform-origin: 50% 50%;
        transform-box: fill-box;
        stroke: #ffffff;
        stroke-miterlimit: 1;
    }

    @keyframes scaling {
        0% {
            transform: scale(1.0);
        }

        50% {
            transform: scale(1.4);
        }

        100% {
            transform: scale(1.0);
        }
    }
}
