@{
    ViewData["Title"] = "Home Page";
}
<main class="fullscreen">
    <div class="bgImg" style="background: url(/media/img/home-background.jpg)">
        <div class="container">
            <h2 style="position: absolute;top: 80%;left: 50%;transform: translate(-50%, -50%);">
                Trò chơi ngọn lửa PROMETHUES
            </h2>
        </div>
    </div>
</main>

